# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Virtual environments
/venv/

# Compilation results
/dist/
/build/
\build\
*.spec

# Temporary files
/__pycache__/

# Test files
*.mf4
*.dat
*.txt
!requirements.txt
*.csv
*.log

