# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Virtual environments
/venv/

# Compilation results
/dist/
/build/
\build\
*.mf4
*.dat
*.txt
*.csv
*.spec
